<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1003737184201-b9p3tfs59nbg5dpr9eoau7nvjpiabg7v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1003737184201-b9p3tfs59nbg5dpr9eoau7nvjpiabg7v</string>
	<key>API_KEY</key>
	<string>AIzaSyAJcqWXcRD2UsaW-uS0KFQAE953VnNnLes</string>
	<key>GCM_SENDER_ID</key>
	<string>1003737184201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>net.yagom.ProjectManager</string>
	<key>PROJECT_ID</key>
	<string>projectmanager-7d3c7</string>
	<key>STORAGE_BUCKET</key>
	<string>projectmanager-7d3c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1003737184201:ios:c322b07a2dc74164449a18</string>
</dict>
</plist>